    :root {
        --black-4: #5C555D;
        --grey-2: #f1f1f1;

        --teal: rgb(116 174 174);
        --green: rgb(50 230 80);

        --graphical-fg: var(--black-4);
        --box-bg: var(--grey-2);

        /*Inputs, buttons, etc*/
        --control-height: 1.6rem;
        --control-border-width: 1px;

        --3d-highlight: color-mix(in srgb, var(--box-bg) 50%, rgba(241, 241, 241, 0.695));
        --3d-shadow: color-mix(in srgb, var(--box-bg) 50%, rgba(0, 0, 0, 0.101));

        /*3D buttons are mostly transparent with just some highlights and shadows.*/
        --concave-item-bg: linear-gradient(180deg, var(--3d-shadow) 12%, var(--3d-highlight) 88%);
        --convex-item-bg: linear-gradient(180deg, var(--3d-highlight) 0%, var(--3d-shadow) 96%);
        --concave-item-box-shadow: inset 0px 0px 4px 2px #3838381f;

        --control-bg: var(--grey-1);

        --highlight-color: var(--green);
        --control-border-color: color-mix(in srgb, var(--graphical-fg) 35%, rgb(0 0 0 / 0%))
    }




    input[type='checkbox'] {
        -webkit-appearance: none !important;
        border-radius: 50px;
        appearance: none;
        background: var(--concave-item-bg);
        box-shadow: var(--concave-item-box-shadow);
        border: var(--control-border-width) solid var(--control-border-color);
        height: var(--control-height);
        width: calc(var(--control-height) * 1.77);
        --slider-position: 0px;
        background-color: blue;
    }

    input[type='checkbox']:checked {
        position: relative;
        --slider-position: calc(var(--control-height) * 0.77);
        background-color: var(--green);
    }

    input[type='checkbox']:checked::before {
        /* background: var(--highlight-color); */
    }


    input[type='checkbox']:before {
        content: "";
        position: relative;
        display: inline-block;
        box-sizing: border-box;
        border: var(--control-border-width) solid var(--control-border-color);
        left: var(--slider-position);
        border-radius: 50px;
        margin: 0px;
        padding: 0px;
        height: calc(var(--control-height) - calc(var(--control-border-width) *2));
        width: calc(var(--control-height) - calc(var(--control-border-width) *2));
        /* background: var(--convex-item-bg); */
        transition: left 0.25s ease, background 0.25s ease;
        background-color: white;
    }



body
{
    height: 100vh;
    width: 100vw;
    margin: 0;
    overflow-y: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

body > div
{
    width: 100%;
}

#settings
{
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-content: center;
}

#settings > div
{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#switcher-control-inputs
{
    display: flex;
}

#controller
{
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#button-grid
{
    display: grid;
    aspect-ratio: 1;
    height: 95%;
}

.button-row
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button-row button
{
    aspect-ratio: 1;
    height: 100%;
}

#picker-menu
{
    height: 16vh;
    width: 12vw;
    background-color: #ae90f3;

    position: absolute;
    display: flex;
    flex-direction: column;
}

#display-text
{
    font-size: 32px;
    background-color: red;
    position: absolute;
}

.hidden
{
    display: none !important;
}